<h1 calss = "current-category"><%= params[:category]%> </h1>
<% if @tasks.count == 0%>
	<h1>There are no tasks currently in this category</h1>
<% else %>

<% @tasks.each do |task| %>
	<h2><%= link_to task.title, task_path(task)%><h2>
<% end %>
<% end %>

